@charset 'utf-8';
body{
		background-color: #F1F1F1;
	}
	.container{
		margin:3.3%;
		background-color: #fff;
	}
	.container h2{
		text-align: center;
		display: block;
		padding:3.33rem 0;
		margin:0px;
		color: #454545;
		font-size: 1.42rem;
		font-family: 'PingFangSC-Heavy';
	}
	.container p{
		margin:0px;
		margin-left: 15px;
		padding:0.2rem 0px; 
		line-height: 1.5;
	}
	.container p label{
    	margin-left: -15px;
    	margin-right: 5px;
	}
	.container p.title{
		font-weight: bold;
		margin:0;
	}
	.container .rule{
		line-height: 1.5;
		padding:0 6.9%;
	    word-wrap: break-word;
	    hyphens: auto;
	    -moz-hyphens:auto;
	    -webkit-hyphens: auto;
		-ms-hyphens: auto;
		color: #656565;
		font-size:0.9rem;
	}
	.container span{
		display: block;
		margin-left: 15px;
	}